.icon-user 
    font-size: 26px
    vertical-align: middle
    padding-right 4px
    &.active
        color #7dbbfe
.icon-wechat
    font-size 26px
    vertical-align: middle
    padding-right 9px
    &.active
        color #7dbbfe
.el-input__prefix
    left: 20px;
    .icon-phone
        font-size 16px

